
h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    color: slateblue;
}

address {
    font-family: "Courier New", monospace;
    color: mediumslateblue;
}

img {
    height: 640px;
    width: 623px;
}

body {
    background-color: lavender;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;

  }

body .paper {
    position: relative;
    margin: auto;
    background-color: #242c1a;
    background-image: radial-gradient(circle farthest-corner at 126% 36%, rgba(0, 0, 0, 0) 65%, #000206 81%), radial-gradient(circle farthest-corner at 47% 50%, #5d818a 9%, #062931 76%);
    box-shadow: 0 0 10px 8px #251e0b, 0 0 5px 20px #473c1c, 0 0 14px 34px #2e2613, 0 0 0 40px #261e0f;
    overflow: hidden;
    box-sizing: content-box;
    height: 640px;
    width: 623px;
}

body .paper .container {
    position: relative;
    margin: auto;
    width: 623px;
    height: 640px;
}

body .paper .container .painting {
    top: 8%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height:72%
}

.paintingBackground {
    height: 640px;
    width: 623px;
    background-color: #555;
}

.yellowBottomLeft {
    width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #555;
	border-bottom: 25px solid transparent;
}
