
h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    color: slateblue;
}

address {
    font-family: "Courier New", monospace;
    color: mediumslateblue;
}

img {
    height: 640px;
    width: 623px;
}

body {
    background-color: lavender;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;

  }

body .paper {
    position: relative;
    margin: auto;
    background-color: gray;
    box-shadow: 0 0 10px 8px #251e0b, 0 0 5px 20px #473c1c, 0 0 14px 34px #2e2613, 0 0 0 40px #261e0f;
    overflow: hidden;
    box-sizing: content-box;
    height: 640px;
    width: 623px;
}

body .paper .container {
    position: relative;
    margin: auto;
    width: 623px;
    height: 640px;
}

body .paper .triangle-right {
	width: 623px;
	height: 640px;
}

body .paper .triangle-right .yellowBottomLeft {
    width: 18.6%;
	height: 37.2%;
    color:gold;
    top: 50%;
    right: 50%;
}

